// Пример подключения иконок PNG

// .some-class
// 		retinaSprite($name_group)
//		или
// 		sprite($name)

.demo-png-icon-red
	retinaSprite $red_group
	display inline-block
.demo-png-icons-green
	retinaSprite $green_group
	display inline-block
.demo-png-icons-blue
	retinaSprite $blue_group
	display inline-block