// Пример подключения иконок PNG

// .some-class
// 		retinaSprite($name-group)
//		или
// 		sprite($name)

.demo-png-icon-red
	retinaSprite $red-group
	display inline-block
.demo-png-icons-green
	retinaSprite $green-group
	display inline-block
.demo-png-icons-blue
	retinaSprite $blue-group
	display inline-block