.container 
	span .container
	h1 Библиотека сниппетов и компонентов
	
	span .button
	button.button кнопка
	
	.demo-row
		.demo-inline-element
			span .bg-striped-v
			.bg-striped-v(style='width: 100px; height: 100px')
		
		.demo-inline-element
			span .bg-striped-h
			.bg-striped-h(style='width: 100px; height: 100px')

		.demo-inline-element
			span .bg-grille
			.bg-grille(style='width: 100px; height: 100px')
