// .body
// 	color red
// 	font-family 'PT Sans Narrow', sans-serif
// 	font-size 1.4rem
// 	line-height 2.4rem
// 	font-weight 700
// 	text-transform uppercase
// 	background #000
	
// 	&_inner-page
// 		color #000
// 		background #f8f5f2 url('../assets/img/general/pattern-white.jpg')
// 		