// - Обеспечивайте согласованность иерархии при именовании 
// (например, $font-primary, $heading-primary или же $font-family-1, $heading-1 и т.д. ).
// - Используйте суффиксы base или default там, где это имеет смысл 
// (например, $color-font-base, $box-shadow-base и т.д.).
// - Группируйте схожие переменные с помощью общих ключевых слов 
// ($font-family-1, $font-size-base, $font-bold и т.д.).

// http://prgssr.ru/development/peremennye-osnova-arhitektury-css.html

// $green-pista = #93c572
// $blue-ink = #000f55
// $red-velvet = #d22836

// $color-state-success = $green-pista
// $color-state-info = $blue-ink
// $color-state-error = $red-velvet



// VARIABLES: GLOBAL

/*-------------------------------------*/

// GRID

// Grid: Gutters
// $grid-gutter = 15px

/*-------------------------------------*/

// DIMENSIONS: WIDTHS, HEIGHTS
// Переменные для измерений

// $height-header
// $width-nav
// $height-form-widget

/*-------------------------------------*/

// SPACING
// Переменные для пространства: внутренние и внешние отступы

// $spacing-padding 
// $spacing-margin

// $spacing = 10px

// $spacing-half = $spacing / 2
// $spacing-double = $spacing * 2
// $spacing-third = $spacing * 3

/*-------------------------------------*/

// COLORS
// Переменные для цвета

/* Colors: Brand */
// $color-brand-1 = #008080
// $color-brand-2 = #ff7f50

/* Colors: Common: Grey */
// $grey-mist = #f5f5f5
// $grey-platinum = #bbb
// $grey-cement = #8f8f8f
// $grey-gravel = #444

/* Colors: States */
// $color-state-success
// $color-state-info
// $color-state-error

/* Colors: Links */
// $color-link = $color-brand-1
// $color-link-hover = darken($link-color, 15%)

/* Colors: Common: Cool */
// $green-pista
// $green-mint

/* Colors: Common: Warm */
// $blue-cornflour
// $blue-turquoise

/* Colors: Brands for Social Media */
// $blue-facebook
// $blue-twitter
// $red-youtube

/*-------------------------------------*/

// Z:INDEX
// Переменные для z-index

// $zindex-header = 1000
// $zindex-dropdown = 1100
// $zindex-lib-select2 = 1200
// $zindex-notify = 1300
// $zindex-modal = 1400

/*-------------------------------------*/

// BORDER-RADIUS
// Переменные для border-radius

// $border-radius = 5px
// $border-radius-half = $border-radius / 2
// $border-radius-double = $border-radius * 2

/*-------------------------------------*/

// BOX-SHADOW
// Переменные для тени
// $box-shadow-base 2px 2px 4px rgba(0, 0, 0, 0.1)


/*-------------------------------------*/

// FONTS
// Переменные для типографики

// Fonts: Base styles
// $font-family-1 = 'Roboto', sans-serif
// $font-family-2 = 'Playfair Display', sans-serif
// $font-size-base = 100% // or px / em / rem

// Fonts: Sizes
// $font-sm = 90%
// $font-sm-x = 80%
// $font-lg = 110%
// $font-lg-x = 120%

// Fonts: Weights
// $font-thin = 100
// $font-extra-light = 200
// $font-light = 300
// $font-normal = 400
// $font-medium = 500
// $font-semi-bold = 600
// $font-bold = 700
// $font-extra-bold = 800
// $font-ultra-bold = 900

/*-------------------------------------*/

// MEDIA QUERIES
// Переменные для медиа-запросов

// $media-sm = 320px
// $media-mid = 768px
// $media-lg = 1024px
// $media-xl = 1280px
// $media-xll = 1600px

// Миксин:
// media($media)
// 	@media only screen and (min-width: $media)
// 		{block}

// Использование:
// .title
// 	display block	
// 	+media($media-xll)
// 		display none

/*-------------------------------------*/
