.social-links
	a.social-links__link(href='javascript:void(0)')
		+icon('vk')

	a.social-links__link(href='javascript:void(0)')
		+icon('fb')

	a.social-links__link(href='javascript:void(0)')
		+icon('ig')