.social-links
	display flex
	height 101px
	
	+above($desktop)
		justify-content space-between
		
		width 162px
		height 50px

	&__link
		flex-grow 1
		
		display flex
		
		border 1px solid #313131
		
		+above($desktop)
			flex-grow 0
		
		+above($desktop)
			width 50px
			height 50px
		
		