include ../../../blocks/svg-icons/svg-icons.pug
//- include ../../../blocks/scripts/scripts.pug

doctype html
html(lang='ru')
	include ../../../blocks/head/head.pug
	body.body
		include ../../../blocks/header/header.pug
		include ../../../blocks/main-menu/main-menu.pug
		//- include ../../../blocks/sidebar/sidebar.pug
		block content
		include ../../../blocks/footer/footer.pug
		//- include ../../../blocks/modal/modal.pug
			include ../../../blocks/login-form/login-form.pug
		//- +yandex-metrika
		script(src= path + 'scripts/main.min.js')
		
